body {
  background-color: #252d2d;
  h1 {
    color: white;
  }
  div {
    color: white;
  }
}

.game-list-container {
  padding: 0rem 5rem;
  h2 {
    padding: 5rem 0rem;
  }
  .games {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
  }
}

.game-image{
    width: 100%;
  
}